
.btn-primary {
    --bs-btn-color: #121111;
    --bs-btn-bg: #aa5519;
    --bs-btn-border-color: #A0522D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A0522D;
    --bs-btn-hover-border-color: #8B4513;
}

.add-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
